data/raw/
data/processed/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
models/
.env
results/baseline/baseline_tfidf_predictions.csv
results/baseline/false_positives.csv
results/baseline/false_negatives.csv
results/baseline/manual_error_review_sample.csv